.dailyForecast-wrapping-div{
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
    display: flex;
    overflow-x: hidden;
    min-height: 200px;

    .daily-weather-div{
        min-width: 38%;
        min-height: 227px;
        border: gray solid 1px;
        /* padding: 20px; */
        border-radius: 5px;
        background-color: white;
        margin: 10px 8px 10px 4px;
        box-shadow: 0 0 8px darkblue;

        @include tablet{
            min-width: 28%;
        }

        @include desktop{
            min-width: 24%;
        }

        .dayOfTheWeek{
            margin: 14px;
        }

        .daily-description{
            text-transform: 'capitalize'
        }

        .icon-img{
            width: 87px;
            padding-top: 20px;
        }

        .more-info-div{
            display: flex;
            justify-content: space-evenly;
            background-color: aliceblue;
            height: 85px;
            border-radius: 0 0 5px 5px;
            align-items: center;
            margin-top: 15px;
            
            .precipitation-img{
                width: 40px;
            }

            p{
                padding: 0 0 0 10px;
            }
        }

    }
}