.dailyForecast-wrapping-div{
    background-color: white;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
    display: flex;
    overflow-x: hidden;
    padding: 0 20px;
    min-height: 200px;

    .daily-weather-div{
        min-width: 36%;
        min-height: 250px;
        border: gray solid 1px;
        padding: 20px;
        border-radius: 5px;
        background-color: white;
        margin: 10px 8px;
        box-shadow: 0 0 16px rgba(209, 208, 208, 0.8);

        @include tablet{
            min-width: 28%;
        }

        @include desktop{
            min-width: 24%;
        }

        .daily-description{
            text-transform: 'capitalize'
        }

    }
}