.hourlyForecast-wrapping-div{
    background-color: white;
    border-radius: 5px;
    min-height: 200px;
    margin-top: 20px;
    text-align: center;
        
    .hourlyForecast-div{
        display: flex;
        
        .hourly-details{
            min-width: 30%;
            
        }

        table{
            width: 100%;
            
            .table-Head{
                justify-content: space-evenly;
            }

            td{
                padding: 13px 0;
                border-bottom: solid 0.5px lightgray;
            }

            .icon-img{
                width: 42px;
            }
        }    
    }
    .show-more-btn-div{
        overflow-y: hidden;
        .fas{
            color: lightslategray;
        }
        .show-more-btn{
            background-color: transparent;
            font-size: medium;
            color: lightslategray;
            border: none;
            padding: 9px 0;
        }
        .show-more-btn:hover{
            cursor: pointer;
            
        }
    }
}