.main-div{
    width: 80%;

    @include desktop{
        width: 60%;
    }

    .weatherpage-div{
        display: block;
        justify-content: center;
        text-align: center;
        background-color: white;
        border-radius: 5px;
        min-height: 200px;
        margin-top: 20px;

        .grey{
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: rgba(0,0,0,0.5);
            display: flex;
            justify-content: center;
            align-items: center;
            
            .error503-div{
                z-index: 20;
                background-color: white;
                border-radius: 5px;
                width: 80%;
                height: 200px;
                align-items: center;
                margin: auto;
            }
        }
    }
}

.dailyForecast-div{
    position: relative;

    .arrow-div{
        align-items: center;
        display: flex;
        position: absolute;
    }

    .left{
        top: 50%;
        left: 3px;
    }
    
    .right{
        top: 50%;
        right: 3px;
    }
}

.current-place-weather-info{
    padding-bottom: 20px;

    .icon-img{
        width: 100px;
    }

    .city{
        font-weight: 600;
    }
}